.header{
    background-color: #4269f4;
}
.imglogo{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 7%;
}
.item{
    margin-top: 7px;
    color: white;
    margin-left: 40px  
}
img{
    display: flex;
    width: 300px;
}
.titulo{
    color: white;
    margin-top: 4px;
}
.item:hover{
    transform: scale(1.2);
    color: white;
}
.parrafo{
    color: white;
    padding-bottom: 40px;
    margin: 0px;
}
.barranav{
    display: flex;
}

/* Main */

.fondo{
    background-color: #1A1A1B;
}
.textNosotros{
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}
.mapa{
    display: flex;
    justify-content: center;
}

/* Footer */
.iconos{
    display: flex;
    justify-content: start;   
    position: relative;
    top: px;

}
.piedepag{
    display: flex;
    padding: 33px;
    background-color: #4269f4;
    justify-content: space-between;
    align-items: center;
}
.parrafopie{
    display: flex;
    text-align: center;
}
p{
    color: white;
}
.colorb{
    margin-bottom: 0px;
}
.mapa{
    padding-bottom: 30px;
}